.submitter {
    margin: auto;
}

form {
    display: flex;
}

.submitter form input {
    margin-left: auto;
    margin-right: 0.3rem;
    width: 50%;
    font-size: large;
}

.submitter form button {
    margin-right: auto;
    font-size: large;
}

.errorDiv {
    min-height: 20px;
    height: 20px;
}

.errorDiv span {
    font-size: large;
    max-height: 30px;
    color: darkred;
    display: inline-block;
    width: 100%;
    text-align: center;
}